html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 1534px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/*header*/

.header > .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header > .wrapper > div {
    width: calc(100%/3);
}

.header .logo {
    text-align: center;
}

.header .logo img {
    height: 60px;
}

.header .gnb_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.gnb_rt li + li {
    margin-left: 1.5em;
}

.gnb_rb li + li {
    margin-left: 1.5em;
}

.main {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.main_slide {
    width: 100%;
    height: 20vw;
    min-height: 450px;
    background: #f2f2fa;
    position: relative;
    overflow: hidden;
}

.main_slide .swiper-slide {
    overflow: hidden;
}

.main_slide .swiper-slide > img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
}

.main_slide .swiper-slide::before {
    content: '';
    width: 100vw;
    height: 100vw;
    width: 1920px;
    height: 1920px;
    background: #ffed00;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateY(90deg) rotateZ(45deg);
    top: 340px;
    transition: transform 2s ease;
    z-index: -1;
}

.main_slide .swiper-slide-active.swiper-slide::before {
    transform: translateX(-50%) rotateY(0deg)rotateZ(45deg);
    z-index: -1;
}

.main_article {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.main_article h1 {
    margin: 0;
}

.video_info1 h2 {
    margin: 0;
}

.video_info1 p {
    margin: 1em 0 1em;
}

.video_info2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.video_info2 li + li {
    margin-left: 1.2em;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > div + div {
    margin-left: 0.5em;
}

.profile_img img {
    width: 100%;
}

.button_wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.recomend_artist {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.recomend_artist_slider::before,
.recomend_artist_slider::after {
    content: '';
    max-width: calc(100vw/2 - 1384px/2 + 150px);
    min-width: 75px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    right: calc(100% - 75px);
    position: absolute;
    background: linear-gradient( to right, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    z-index: 999;
}

.recomend_artist_slider::after {
    left: calc(100% - 75px);
    background: linear-gradient( to left, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
}

.video_slide {
    position: relative;
}

.video_slide::before,
.video_slide::after {
    content: '';
    max-width: calc(100vw/2 - 1384px/2 + 150px);
    min-width: 75px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) scaleY(2);
    height: 100%;
    right: calc(100% - 75px);
    position: absolute;
    background: linear-gradient( to right, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    z-index: 999;
    transform-origin: left center;
}

.video_slide::after {
    left: calc(100% - 75px);
    background: linear-gradient( to left, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    transform-origin: right center;
}

.recomend_video {
    overflow: hidden;
}

.recomend_video .video_slide::before {
    background: linear-gradient( to right, rgba(242, 242, 250, 0.8) 50%, rgba(242, 242, 250, 0));
}

.recomend_video .video_slide::after {
    background: linear-gradient( to left, rgb(242, 242, 250, 0.8) 50%, rgba(242, 242, 250, 0));
}

.main_slide::before,
.main_slide::after {
    content: '';
    max-width: calc(100vw/2 - 1384px/2);
    min-width: 75px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 100vh;
    position: absolute;
    background: linear-gradient( to right, rgba(0, 0, 30, 0.15), rgba(0, 0, 30, 0));
    z-index: 999;
}

.main_slide::after {
    left: 100%;
    transform: translate(-100%, -50%);
    background: linear-gradient( to left, rgba(0, 0, 30, 0.15), rgba(0, 0, 30, 0));
}

.recomend_artist > h2,
.recomend_video > h2,
.video_section > h2 {
    text-align: left;
    margin-bottom: 30px;
}

.recomend_artist .profile_img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 1em;
}

.recomend_artist .profile_name {
    text-align: center;
}

.recomend_artist_slider {
    position: relative;
}

.recomend_artist .swiper-container {
    margin: 0 auto;
    overflow: visible;
}

.recomend_artist .swiper-slide {
    width: calc(100% / 10 - 27px);
    min-width: 100px;
}

.recomend_artist .button_wrapper {
    margin-top: -14px;
}

.recomend_video,
.video_section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.recomend_video .swiper-container {
    overflow: visible;
}

.thumb img {
    width: 100%;
}

.recomend_video .swiper-slide {
    width: calc(100% / 4 - 22.5px);
    min-width: 320px;
}

.video_article .video_info1 {
    padding: 15px 15px;
}

.video_article h4 {
    margin: 0;
    margin-bottom: 15px;
}

.video_article .video_info2 > li + li + li {
    margin-left: 1.2em;
}

.video_slide + h2 {
    margin-top: 45px;
}

.video_article .profile_img {
    width: 20px;
    height: 20px;
}

.video_section {
    overflow: hidden;
}

.video_section .swiper-container {
    overflow: visible;
}

.video_section .swiper-slide {
    width: calc(100% / 5 - 24px);
    min-width: 210px;
}

.subpage_title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(143, 143, 143, 0.5);
    background: #f2f2fa;
}

.subpage_title h1 {
    font-size: 72px;
    font-weight: 400;
    color: #484848;
    margin: 0;
    position: relative;
}

.subpage_title p {
    margin: 0;
    font-size: 14px;
    position: relative;
}

.subpage.login {
    min-height: calc(100vh - 238px);
}

.login_tab {
    border-bottom: 1px solid rgba(143, 143, 143, 0.5);
    margin-bottom: 15px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.login_tab h4{
    margin: 0;
    padding: 0;
}
.login_type {
	display: flex;
    font-size: 14px;
    color: #8f8f8f;
}
.login_type>div{
    cursor: pointer;
}
.login_type>div:hover{
    color: #484848;
}
.login_type>div::before{
    content: ' ';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid rgba(143, 143, 143, 0.5)
}
.login_type>div+div{
    margin-left: 15px;
}
.login_type>div.on{
    font-weight: 500;
    color: #484848;
}
.login_type>div.on::before{
    background: #ffed00;
}

.login {
    background: #f2f2fa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.login > .wrapper {
    width: 480px;
    margin: 0 auto;
}

.login input {
    width: 100%;
    box-sizing: border-box;
}

.login input + input {
    margin-top: 5px;
}

.login .button {
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}

.login .button:hover {
    background: #484848;
    color: #fff;
}

.login img {
    width: 180px;
    display: block;
    margin: 0 auto 30px;
}

.login ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.login ul > li {
    font-size: 12px;
    color: #8f8f8f;
    margin: 0;
}

.login ul > li:hover {
    color: #484848;
}

.login ul > li + li {
    margin-left: 1.2em;
}
.subpage_title{
    overflow: hidden;
}
.subpage_title > .wrapper{
    position: relative;
}
.subpage_title > .wrapper::before{
    content: '';
    position: absolute;
    width: 1920px;
    height: 1920px;
    background: #ffed00;
    top: calc(305px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.login_form {
    display: flex;
}
.lnb{
    box-shadow: 0px 2px 8px -4px rgba(17, 17, 17, 0.3);
/*    border-bottom: 1px solid rgba(143, 143, 143, 0.5);*/
}
.lnb .wrapper {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.lnb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lnb_left {
    display: flex;
    text-align: left;
}
.lnb_left span{
    font-size: 18px;
}
.lnb_left>div+div{
    margin-left: 30px;
}
.select {
    position: relative;
    z-index: 9999;
    font-size: 14px;
    color: #8f8f8f;
    line-height: 2em;
    cursor: pointer;
}

.select > span {
    display: block;
    overflow: hidden;
    font-weight: 700;
    color: #484848;
}
.select > span:hover{
    color: #ffed00;
}
.select > span:after, .select > ul > li:first-child:after {
    display: block;
    float: right;
}

.select > span:after {
    content: '\f0dd';
    margin-top: -2px;
    margin-left: 10px;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.select > ul {
    position: absolute;
    word-break: keep-all;
    background: #fff;
    display: none;
    box-shadow: 0px 2px 8px -2px rgba(17, 17, 17, 0.5);
    overflow: hidden;
    border-radius: 5px;
}
.select > ul.on{
    display: block;
}
.select > ul > li:first-child{
    color: #484848;
}
.select > ul > li {
    cursor: pointer;
    font-weight: 500;
    line-height: 2em;
    background: #fff;
    padding: 5px 10px;
}
.select > ul > li:hover{
    background: #ffed00;
    color: #484848;
}
.intro{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
.intro .login{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
}
.intro .login .wrapper {
	background: rgb(255, 255, 255);
    padding: 30px 30px 0;
    border-radius: 5px;
    width: 380px;
}
.intro+.footer {
	background: none;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
}
.intro+.footer ul+ul{
    color: #f2f2fa;
    opacity: 0.8;
}
.video_section h2{
    margin-top: 0;
}
.video_slide+h2{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(143, 143, 143, 0.5);
}
.video_list{
    display: grid;
    grid-gap: 30px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(210px, auto));
}
.search{
    position: relative;
    border-bottom: 2px solid #484848;
    font-size: 18px;
    width: 420px;
    margin: 30px auto 0;
}
.search i{
    font-size: inherit;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #484848;
}
.search i:hover{
    color: #ffed00;
}
.search input[type="text"]{
    font-size: inherit;
    text-align: left;
    color: #484848;
    font-weight: 500;
    border: none;
    background: none;
    width: 100%;
}
.video{
    background: #000;
}
.video_player{
    width: 100%;
}
.video_title{
    border-bottom: 1px solid rgba(143, 143, 143, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top:15px;
    padding-bottom:15px;
}
.video_view h3{
    margin:0;
}
.video_view h4{
    margin: 0;
    margin-bottom: 15px;
}
.video_title ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.video_title li{
    display: inline-block;
    font-size: 14px;
    color: #8f8f8f;
    padding: 0;
    margin: 0;
}
.video_title li+li{
    margin-left: 15px;
}
.video_title li i{
    cursor: pointer;
}
.video_title li i:hover{
    color: red;
}
.video_title li i.on{
    color: red;
}
.video_title li i.on:hover{
    opacity: 0.5;
}
.video_info3 .profile{
    margin-top:15px;
}
.video_info3 .profile_img{
    width: 50px;
    height: 50px;
}
.video_p{
    border-bottom: 1px solid rgba(143, 143, 143, 0.5);
    padding-bottom: 15px;
}
.more_view {
	color: #8f8f8f;
    font-weight: 700;
    cursor: pointer;
    font-size:14px;
}
.comments{
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(143, 143, 143, 0.5);
    padding-bottom: 15px;
}
.comment {
	display: flex;
    align-content: center;
}
.comment_reply{
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #8f8f8f;
}
.comment_reply span:hover{
    color: #484848;
}
.comment_reply span+span{
    margin-left: 10px;
}
.comment_time{
	font-size: 10px;
    color: #8f8f8f;
    margin-left: 5px;
}
.comment .profile{
    align-items: flex-start;
}
.comment .profile:hover .profile_img{
    opacity: 1;
    transform: none;
}
.comment .profile_img{
	width: 44px;
    height: 44px;
    margin-right: 15px;
}
.comment .profile_name {
	font-size: 14px;
    margin-right: 10px;
}
.comment p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment+.comment{
    margin-top: 20px;
}
.comments .more_view {
	text-align: center;
    margin-top: 15px;
}
.comments .more_view:hover{
    color: #484848;
}
.recomment{
    padding-left: 54px;
    box-sizing: border-box;
}
.another_video{
    margin-top: 30px;
}
.another_video + .another_video h4{
    border-top: 1px solid rgba(143, 143, 143, 0.5);
    margin-top: -45px;
    padding-top: 30px;
}
.another_video .video_section{
    margin-top: -30px;
}
.artist_comments .comments{
    border-top: 1px solid rgba(143, 143, 143, 0.5);
}
.artist_comments h4{
    margin: 0;
    margin-bottom: 15px;
}
.portfolio_video {
	padding-top: 30px;
    padding-bottom: 30px;
}
.portfolio_video .lnb{
	box-shadow: none;
}
.portfolio_video h2{
    margin-bottom: 30px;
}
.portfolio_video .more_view{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
}
.portfolio_video .more_view:hover{
    color: #484848;
}

.portfolio{
    display: flex;
    justify-content: space-between;
}
.portfolio>div{
    width: calc(50% - 30px);
    margin-top: 15px;
}
.portfolio .video_view{
    border-left: 1px solid rgba(143, 143, 143, 0.5);
    padding-left: 30px;
    margin-bottom: 15px;
}
.portfolio .video_title{
    border-bottom: none;
}
.portfolio .video_title h4{
    margin: 0;
}
.artist_info .profile_img:hover{
    opacity: 1;
}
.artist_info .profile_img{
    width: 100px;
    height: 100px;
}
.artist_info .profile_name {
	font-size: 18px;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
}
.artist_info h4{
    margin-bottom: 0;
    margin-top: 15px;
}
.artist_info p{
    margin-bottom: 0;
    margin-top: 0.5em;
}
.artist_profiles {
	position: relative;
    width: 100%;
    padding-top: calc(56.25% + 50px);
    overflow: hidden;
}
.artist_profiles>div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    display: flex;
}
.artist_profile{
    margin-right: 30px;
}
.artist_articles {
	overflow-y: scroll;
}